RewriteEngine on
RewriteCond $1 !^(index\.php|asset|images|img|tempUpload|js|css|uploads|png|jpg|bmp)
RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d

RewriteRule ^(.*)$ ./index.php/$1 [L]

ErrorDocument 404 /error_pages/404.html 